In [1]:
import pandas as pd
import numpy as np

In [2]:
not_hot = pd.read_csv('not_hot.csv')

In [3]:
hot_songs = pd.read_csv('top_100_hot.csv')

In [4]:
hot_songs.drop(columns = 'Unnamed: 0', inplace = True)

In [5]:
hot_songs.columns = hot_songs.columns.str.lower()

In [6]:
hot_songs.head()

                                 artist                  title
0                           Jack Harlow            Lovin On Me
1                          Taylor Swift           Cruel Summer
2                            Tate McRae                 Greedy
3                              Doja Cat     Paint The Town Red
4  Zach Bryan Featuring Kacey Musgraves  I Remember Everything

In [7]:
not_hot.drop(columns = 'Unnamed: 0', inplace = True)

In [8]:
not_hot.head()

               artist                          title
0           Bob Dylan           Like a Rolling Stone
1  The Rolling Stones  (I Can't Get No) Satisfaction
2      The Beach Boys                Good Vibrations
3             Nirvana        Smells Like Teen Spirit
4     Aretha Franklin                        Respect

In [9]:
#droping the duplicates
merged_df = pd.merge(hot_songs, not_hot, on = ['artist', 'title'], how = 'inner')

if not merged_df.empty:
    print("Matching rows found:")
    print(merged_df)
else:
    print("No matching rows found.")

No matching rows found.

In [10]:
not_hot = not_hot[(not_hot['title'] != 'Christmas (Baby Please Come Home)') & (not_hot['artist'] != 'Darlene Love')]

In [11]:
not_hot.to_csv("not_hot_drop.csv")